body {
  background: url("../img/bg.png") repeat-x center top;
  color: #4d4d4d;
}
header .line-top {
  background-color: #e91b23;
  min-height: 20px;
}
header .line-top .items-top {
  margin: 0;
  text-decoration: none;
}
header .line-top .items-top li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
header .line-top .items-top li:last-child {
  margin-right: 0 !important;
}
header .line-top .items-top li:before {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-position: 0 50%;
  height: 23px;
  top: 50%;
  margin-top: -11.5px;
}
header .line-top .items-top li a {
  color: #fff;
  display: block;
  padding: 10px 0;
}
header .line-top .items-top li.icon-mapa:before {
  background-image: url("../img/mapa-icon.png");
  width: 35px;
}
header .line-top .items-top li.icon-mapa a {
  padding-left: 45px;
}
header .line-top .items-top li.icon-intranet:before {
  background-image: url("../img/intranet-icon.png");
  width: 22px;
}
header .line-top .items-top li.icon-intranet a {
  padding-left: 32px;
}
header .line-top .items-top li.icon-faq:before {
  background-image: url("../img/faq-icon.png");
  width: 22px;
}
header .line-top .items-top li.icon-faq a {
  padding-left: 32px;
}
header .line-top .items-top li.icon-portal:before {
  background-image: url("../img/portal-icon.png");
  width: 21px;
}
header .line-top .items-top li.icon-portal a {
  padding-left: 31px;
}
header .logos-media {
  margin-top: 40px;
  margin-bottom: 50px;
}
header .logos-media .container {
  padding: 0;
}
header .logos-media .logo-wrapper {
  text-align: center;
  display: block;
}
header .logos-media .logo-wrapper img {
  display: inline-block;
}
header .logos-media .social-media {
  text-decoration: none;
  margin: 40px 0 0 0;
  font-size: 0;
}
header .logos-media .social-media li {
  display: inline-block;
  margin: 0 2px;
}
header .logos-media .social-media li:last-child {
  margin-right: 0;
}
header .logos-media .social-media li a {
  display: block;
}
header .navbar {
  background-color: #e91b23;
  border: 0 none;
  margin-bottom: 0;
}
header .navbar .navbar-header .navbar-toggle {
  background-color: #fff;
}
header .navbar .navbar-header .navbar-toggle .icon-bar {
  background-color: #e91b23;
}
header .navbar .navbar-collapse {
  position: absolute;
  width: 100%;
}
header .navbar .navbar-collapse .navbar-nav {
  background-color: #e91b23;
  margin-top: 3px;
}
header .navbar .navbar-collapse .navbar-nav li {
  text-align: center;
}
header .navbar .navbar-collapse .navbar-nav li a {
  color: #fff;
  font-size: 18px;
}
header .navbar .navbar-collapse .navbar-nav li a:hover,
header .navbar .navbar-collapse .navbar-nav li a:focus {
  background-color: #fff;
  color: #e91b23;
}
header .navbar .navbar-collapse .navbar-nav li.active a {
  background-color: #fff;
  color: #e91b23;
}
.slider .container {
  background: url("../img/shadow-top-slider.png") no-repeat center top, url("../img/shadow-bottom-slider.png") no-repeat center bottom;
  padding-top: 23px;
  padding-bottom: 44px;
}
.slider .slides-wrapper {
  display: none;
  text-align: center;
  background: #fff;
  position: relative;
}
.slider .slides-wrapper .slidesjs-pagination {
  background: #fff;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 20px 0;
  margin: 0;
  width: 100%;
  position: relative;
}
.slider .slides-wrapper .slidesjs-pagination:before,
.slider .slides-wrapper .slidesjs-pagination:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -moz-box-shadow: 0 15px 10px #777;
  -webkit-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
}
.slider .slides-wrapper .slidesjs-pagination:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.slider .slides-wrapper .slidesjs-pagination li {
  text-align: center;
  display: inline-block;
  margin: 0 8px;
}
.slider .slides-wrapper .slidesjs-pagination li a {
  display: block;
  text-decoration: none;
  font-size: 1px;
  width: 25px;
  height: 25px;
  background-color: #b0b0b0;
  color: #b0b0b0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 25px;
}
.slider .slides-wrapper .slidesjs-pagination li a:hover {
  background-color: #b0b0b0;
  color: #b0b0b0;
}
.slider .slides-wrapper .slidesjs-pagination li a.active {
  background-color: #f00;
  color: #f00;
}
.slider .slide {
  position: relative;
  text-align: left;
}
.slider .slide .caption {
  position: absolute;
  background: url("../img/slider-caption.png") no-repeat 0 50%;
  height: 100%;
  width: 460px;
}
.slider .slide .caption .content-caption {
  color: #fff;
  padding: 30px 130px 30px 30px;
}
.slider .slide .caption .content-caption p {
  font-weight: bold;
}
.slider .slide .caption .content-caption p.ref {
  font-weight: normal;
}
.slider .slide .caption .content-caption .see-more {
  background: #171717;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#171717), to(#5c5c5c));
  background: -webkit-linear-gradient(#171717, #5c5c5c);
  background: -moz-linear-gradient(#171717, #5c5c5c);
  background: -ms-linear-gradient(#171717, #5c5c5c);
  background: -o-linear-gradient(#171717, #5c5c5c);
  background: linear-gradient(#171717, #5c5c5c);
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 20px;
}
@media (min-width: 768px) {
  header .line-top .container {
    display: block;
  }
  header .navbar {
    background-color: transparent;
  }
  header .navbar .navbar-collapse {
    position: relative;
    text-align: center;
  }
  header .navbar .navbar-collapse .navbar-nav {
    margin-top: 0;
    background-color: transparent;
    display: inline-block;
    float: none;
  }
  header .navbar .navbar-collapse .navbar-nav li:before {
    content: "|";
    position: absolute;
    line-height: 30px;
    top: 0;
    left: 0;
  }
  header .navbar .navbar-collapse .navbar-nav li:first-child {
    content: "";
  }
  header .navbar .navbar-collapse .navbar-nav li a {
    color: #4d4d4d;
    font-size: 16px;
    padding: 7px 18px;
  }
  header .navbar .navbar-collapse .navbar-nav li a:hover,
  header .navbar .navbar-collapse .navbar-nav li a:focus {
    background-color: #e91b23;
    color: #fff;
  }
  header .navbar .navbar-collapse .navbar-nav li.active a {
    background-color: #e91b23;
    color: #fff;
  }
  .hidden {
    display: block !important;
  }
}
@media (min-width: 992px) {
  header .line-top .items-top li {
    margin: 0 20px;
  }
  header .logos-media {
    margin-top: 70px;
    margin-bottom: 60px;
  }
  header .logos-media .social-media {
    margin: 45px 0 0 0;
  }
  .slider .slide .caption .content-caption {
    font-size: 16px;
    padding: 30px 150px 30px 30px;
  }
}
@media (min-width: 1200px) {
  body {
    display: block;
  }
}
