rojo = #e91b23
gray_body = #4d4d4d

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
opacity(n)
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	filter unquote('alpha(opacity=' + round(n * 100) + ')')
	-moz-opacity n
	-khtml-opacity n
	opacity n
	
background-gradient(a, b)
	background a
	background -webkit-gradient(linear, 0 0, 0 bottom, from(a), to(b))
	background -webkit-linear-gradient(a, b)
	background -moz-linear-gradient(a, b)
	background -ms-linear-gradient(a, b)
	background -o-linear-gradient(a, b)
	background linear-gradient(a, b)
	
	
transform(n)
	-webkit-transform n
	-moz-transform n
	-o-transform n
	-ms-transform n

@import ("fonts.styl")

body
	background url("../img/bg.png") repeat-x center top
	color gray_body

footer
	background-color #666
	background-image url("../img/bg-footer.png")
	background-position 0 0
	background-repeat no-repeat
	color white
	font-size 11px
	padding-top 48px
	padding-bottom 36px
	text-align center
	
	.col-sm-4
		text-align center
		
		.logo-blanco
			display inline-block
			margin-bottom 20px
	
header
	.line-top
		background-color rojo
		min-height 20px
		
		.items-top
			margin 0
			text-decoration none
			
			li
				display inline-block
				position relative
				margin 0 10px
				
				&:last-child
					margin-right 0 !important
				
				&:before
					position absolute
					content ""
					background-repeat no-repeat
					background-position 0 50%
					height 23px
					top 50%
					margin-top -11.5px
				
				a
					color white
					display block
					padding 10px 0
				
				&.icon-mapa
					&:before
						background-image url("../img/mapa-icon.png")
						width 35px
					
					a
						padding-left 45px
				
				&.icon-intranet
					&:before
						background-image url("../img/intranet-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-faq
					&:before
						background-image url("../img/faq-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-portal
					&:before
						background-image url("../img/portal-icon.png")
						width 21px
					
					a
						padding-left 31px
					
	.logos-media
		margin-top 40px
		margin-bottom 50px

		.container
			padding 0

		.logo-wrapper
			text-align center
			display block
			
			img
				display inline-block
		
		.social-media
			text-decoration none
			margin 40px 0 0 0
			font-size 0
			
			li
				display inline-block
				margin 0 2px
				
				&:last-child
					margin-right 0

				a
					display block
	
	.navbar
		background-color rojo
		border 0 none
		margin-bottom 0
		
		.navbar-header
			.navbar-toggle
				background-color white
				
				.icon-bar
					background-color rojo
		
		.navbar-collapse
			position absolute
			width 100%
			
			.navbar-nav
				background-color rojo
				margin-top 3px
				
				li
					text-align center
					
					a
						color white
						font-size 18px
						
						&:hover,
						&:focus
							background-color white
							color rojo
					
					&.active
						a
							background-color white
							color rojo

.consult-phone
	min-height 1px
	
	.container
		position relative
		
		figure
			position absolute
			top -40px
			right 15px
			
			img
				display block
			
			figcaption
				color white
				font-weight bold
				
				.number
					position absolute
					top 16px
					left 87px
					font-size 24px
				
				.text-top
					top 8px
					left 90px
					position absolute
					font-size 11px
				
				.text-bottom
					top 41px
					left 90px
					position absolute
					font-size 11px
					letter-spacing 5px

.icon-buttons
	border-bottom 1px dashed #969696
	
	.col-sm-4
		padding 0 45px 0 65px

	.btn-ico
		background-color #ca0000
		text-decoration none
		color white
		text-align center
		display block
		position relative
		padding 14px 10px 14px 36px
		margin-top 4px
		margin-bottom 30px
		
		&:after
			content ""
			background-repeat no-repeat
			background-position 50% 50%
			width 56px
			height 56px
			border-radius 50%
			background-color #ff0000
			position absolute
			top -4px
			left -20px
		
		&.btn-1
			&:after
				background-image url("../img/ico3-1.png")
		
		&.btn-2
			&:after
				background-image url("../img/ico3-2.png")
				
		&.btn-3
			&:after
				background-image url("../img/ico3-3.png")
				
		&.btn-4
			&:after
				background-image url("../img/ico3-4.png")
				
		&.btn-5
			&:after
				background-image url("../img/ico3-5.png")
				
		&.btn-6
			&:after
				background-image url("../img/ico3-6.png")
		
		&.btn-7
			&:after
				background-image url("../img/ico3-7.png")

.image-buttons
	margin-bottom 30px
	
	.container
		padding 0 22px
		
		.col-sm-6
			padding 0 8px
			margin-bottom 20px
			display block
			text-decoration none
	
	figure
		text-align center
		
		figcaption
			color white
			background-color rojo
			font-size 28px
			font-weight bold
			text-align left
			height 98px
			display table
			width 100%
			
			span
				display table-cell
				padding 0 20px
				vertical-align middle
				line-height 26px
			
		
		.img-responsive
			display inline-block

.slider
	position relative
	z-index 2

	.slides-wrapper
		display none
		text-align center
		position relative
		background url("../img/shadow-top-slider.png") no-repeat center top, url("../img/shadow-bottom-slider.png") no-repeat center bottom
		padding-top 23px
		padding-bottom 40px
		background-size 100% auto
		
		.slidesjs-pagination
			background white
			display inline-block
			text-align center
			text-decoration none
			padding 20px 0
			margin 0
			width 100%
			position relative
			
			&:before,
			&:after
				z-index -1
				position absolute
				content ""
				bottom 15px
				left 10px
				width 50%
				top 80%
				max-width 300px
				background #777
				box-shadow 0 15px 10px #777
				transform rotate(-3deg)
			
			&:after
				transform rotate(3deg)
				right 10px
				left auto
			
			li
				text-align center
				display inline-block
				margin 0 8px
				
				a
					display block
					text-decoration none
					font-size 1px
					width 25px
					height 25px
					background-color  #b0b0b0
					color #b0b0b0
					border-radius 50%
					line-height 25px
					
					&:hover
						background-color  #b0b0b0
						color #b0b0b0
					
					&.active
						background-color red
						color red

	.slide
		position relative
		text-align left
		
		.caption
			position absolute
			background url("../img/slider-caption.png") no-repeat 0 50%
			height 100%
			width 460px
			
			.content-caption
				color white
				padding 30px 130px 30px 30px
				
				p
					font-weight bold
					
					&.ref
						font-weight normal
				
				.see-more
					background-gradient(#171717, #5c5c5c)
					display inline-block
					color white
					text-decoration none
					font-size 12px
					padding 5px 20px

.sponsors
	text-align center
	padding 40px 0
	
	.img-responsive
		display inline-block

.tabs-section
	margin-bottom 30px
	border-bottom 1px dashed #969696

	.nav-tabs
		li
			width 25%
			padding 0 2px
			
			a
				background-color red
				color white
				border 0 none
				display table
				width 100%
				height 80px
				font-weight bold
				
				span
					display table-cell
					vertical-align middle
				
				&:hover,
				&:focus
					background-color #c2c4c6
					color #666
			
			&.active
				a
					background-color #c2c4c6
					color #666
					
	
	.tab-content
		background-color #c2c4c6
		background-gradient(#c2c4c6, #FFFFFF)
		
		.button-icon-text
			display block
			background-color rojo
			color white
			text-decoration none
			margin-top 15px
			margin-bottom 15px
			height 110px
			padding 28px 30px 0 100px
			position relative
			
			&:before
				position absolute
				content ""
				background-repeat no-repeat
				background-position 0 0
			
			&.btn-1
				&:before
					background-image url("../img/ico2-1.png")
					width 54px
					height 35px
					top 40px
					left 28px
			
			&.btn-2
				&:before
					background-image url("../img/ico2-2.png")
					width 49px
					height 52px
					top 31px
					left 28px
			
			&.btn-3
				&:before
					background-image url("../img/ico2-3.png")
					width 67px
					height 52px
					top 30px
					left 15px
			
			&.btn-4
				&:before
					background-image url("../img/ico2-4.png")
					width 68px
					height 41px
					top 34px
					left 20px
			
			.title-btn
				display block
				font-weight bold
				font-size 24px
				line-height 30px
			
			.text-btn
				display block
				line-height 16px

		.tab-pane
			padding 20px

.triangle-buttons
	margin-top 35px
	margin-bottom 28px
	
	.col-sm-3
		padding-left 8px
		padding-right 8px
	
	.col-xs-6
		margin-bottom 7px
		display block
		text-decoration none
		
	.bt-bg
		background-image url("../img/btn-1.png")
		background-repeat no-repeat
		height 67px
		position relative
		color white
		
		&:after
			content ""
			position absolute
			background-position 0 0
			background-repeat no-repeat
		
		&.b-left
			background-position 100% 0
			margin-right -21px
			padding 16px 70px 0 11px
		
		&.b-right
			background-position 0 100%
			margin-left -21px
			padding 16px 76px 0 36px
		
		&.ico-1
			&:after
				background-image url("../img/ico-1.png")
				width 34px
				height 32px
				right 30px
				top 22px
				
		&.ico-2
			&:after
				background-image url("../img/ico-2.png")
				width 42px
				height 42px
				top 13px
				right 30px
		
		&.ico-3
			&:after
				background-image url("../img/ico-3.png")
				width 33px
				height 37px
				top 18px
				right 32px
		
		&.ico-4
			&:after
				background-image url("../img/ico-4.png")
				width 47px
				height 39px
				top 15px
				right 19px
		
				

@import ("responsive.styl")
	