rojo = #e91b23
gray_body = #4d4d4d

box-shadow()
	-moz-box-shadow arguments
	-webkit-box-shadow arguments
	box-shadow arguments

box-sizing()
	-webkit-box-sizing arguments
	-moz-box-sizing arguments
	box-sizing arguments
	
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments
	
opacity(n)
	-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')
	filter unquote('alpha(opacity=' + round(n * 100) + ')')
	-moz-opacity n
	-khtml-opacity n
	opacity n
	
background-gradient(a, b)
	background a
	background -webkit-gradient(linear, 0 0, 0 bottom, from(a), to(b))
	background -webkit-linear-gradient(a, b)
	background -moz-linear-gradient(a, b)
	background -ms-linear-gradient(a, b)
	background -o-linear-gradient(a, b)
	background linear-gradient(a, b)
	
transform(n)
	-webkit-transform n
	-moz-transform n
	-o-transform n
	-ms-transform n

@import ("fonts.styl")

body
	background url("../img/bg.png") repeat-x center top
	color gray_body
	
header
	.line-top
		background-color rojo
		min-height 20px
		
		.items-top
			margin 0
			text-decoration none
			
			li
				display inline-block
				position relative
				margin 0 10px
				
				&:last-child
					margin-right 0 !important
				
				&:before
					position absolute
					content ""
					background-repeat no-repeat
					background-position 0 50%
					height 23px
					top 50%
					margin-top -11.5px
				
				a
					color white
					display block
					padding 10px 0
				
				&.icon-mapa
					&:before
						background-image url("../img/mapa-icon.png")
						width 35px
					
					a
						padding-left 45px
				
				&.icon-intranet
					&:before
						background-image url("../img/intranet-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-faq
					&:before
						background-image url("../img/faq-icon.png")
						width 22px
					
					a
						padding-left 32px
				
				&.icon-portal
					&:before
						background-image url("../img/portal-icon.png")
						width 21px
					
					a
						padding-left 31px
					
	.logos-media
		margin-top 40px
		margin-bottom 50px

		.container
			padding 0

		.logo-wrapper
			text-align center
			display block
			
			img
				display inline-block
		
		.social-media
			text-decoration none
			margin 40px 0 0 0
			font-size 0
			
			li
				display inline-block
				margin 0 2px
				
				&:last-child
					margin-right 0

				a
					display block
	
	.navbar
		background-color rojo
		border 0 none
		margin-bottom 0
		
		.navbar-header
			.navbar-toggle
				background-color white
				
				.icon-bar
					background-color rojo
		
		.navbar-collapse
			position absolute
			width 100%
			
			.navbar-nav
				background-color rojo
				margin-top 3px
				
				li
					text-align center
					
					a
						color white
						font-size 18px
						
						&:hover,
						&:focus
							background-color white
							color rojo
					
					&.active
						a
							background-color white
							color rojo

.consult-phone
	min-height 1px
	
	.container
		position relative
		
		figure
			position absolute
			top -40px
			right 15px
			
			img
				display block
			
			figcaption
				color white
				font-weight bold
				
				.number
					position absolute
					top 16px
					left 87px
					font-size 24px
				
				.text-top
					top 8px
					left 90px
					position absolute
					font-size 11px
				
				.text-bottom
					top 41px
					left 90px
					position absolute
					font-size 11px
					letter-spacing 5px
					

.slider
	position relative
	z-index 2

	.slides-wrapper
		display none
		text-align center
		background white
		position relative
		background url("../img/shadow-top-slider.png") no-repeat center top, url("../img/shadow-bottom-slider.png") no-repeat center bottom
		padding-top 23px
		padding-bottom 40px
		background-size 100% auto
		
		.slidesjs-pagination
			background white
			display inline-block
			text-align center
			text-decoration none
			padding 20px 0
			margin 0
			width 100%
			position relative
			
			&:before,
			&:after
				z-index -1
				position absolute
				content ""
				bottom 15px
				left 10px
				width 50%
				top 80%
				max-width 300px
				background #777
				box-shadow 0 15px 10px #777
				transform rotate(-3deg)
			
			&:after
				transform rotate(3deg)
				right 10px
				left auto
			
			li
				text-align center
				display inline-block
				margin 0 8px
				
				a
					display block
					text-decoration none
					font-size 1px
					width 25px
					height 25px
					background-color  #b0b0b0
					color #b0b0b0
					border-radius 50%
					line-height 25px
					
					&:hover
						background-color  #b0b0b0
						color #b0b0b0
					
					&.active
						background-color red
						color red

	.slide
		position relative
		text-align left
		
		.caption
			position absolute
			background url("../img/slider-caption.png") no-repeat 0 50%
			height 100%
			width 460px
			
			.content-caption
				color white
				padding 30px 130px 30px 30px
				
				p
					font-weight bold
					
					&.ref
						font-weight normal
				
				.see-more
					background-gradient(#171717, #5c5c5c)
					display inline-block
					color white
					text-decoration none
					font-size 12px
					padding 5px 20px

.triangle-buttons
	.col-sm-3
		padding-left 8px
		padding-right 8px
		
	.bt-bg
		background-image url("../img/btn-1.png")
		background-repeat no-repeat
		height 67px
		
		&.b-left
			background-position 100% 0
			margin-right -21px
		
		&.b-right
			background-position 0 100%
			margin-left -21px
				

@import ("responsive.styl")
	